@tailwind base;
@tailwind components;
@tailwind utilities;


.p-menubar-button {
  display: none !important;
}

.p-autocomplete-dropdown {
  background-color: #109EDA !important;
  border-color: #109EDA !important;
}

.active {
  display: block !important;
}

.p-password, .p-input-icon-right > .p-inputtext {
  width: 100% !important;
}

.active-item-list {
  color: rgb(31 41 55) !important;
}

.side-item-active {
  background-color: #109dda2f;
  color: #108abf;
}

.active-side-item {
  background-color: rgba(220, 220, 220, 0.548);
  color: black !important;
}

.p-dataview-grid .p-grid {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
}

.input-number input {
  border-left: none !important;
}

.search-input-group input:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

.search-input-group input:hover {
  border-color: #ced4da !important;
}

.container-group-categories {
  column-count: 2;
}

@media (min-width: 768px) {
  .container-group-categories {
    column-count: 3;
  }
}
