@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins/Poppins-Regular.ttf');
}

* :not(.pi) {
  font-family: 'Poppins' !important;
}

.p-menubar-button {
  display: none !important;
}

.p-autocomplete-dropdown {
  background-color: #109EDA !important;
  border-color: #109EDA !important;
}

.active {
  display: block !important;
}

.p-password, .p-input-icon-right > .p-inputtext {
  width: 100% !important;
}

.active-item-list {
  color: rgb(31 41 55) !important;
}

.side-item-active {
  background-color: #109dda2f;
  color: #108abf;
}

.active-side-item {
  background-color: rgba(220, 220, 220, 0.548);
  color: black !important;
}

.p-dataview-grid .p-grid {
  display: grid !important;
  grid-template-columns: repeat(1, 1fr) !important;
}

@media (min-width: 768px) {
  .p-dataview-grid .p-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.input-number input {
  border-left: none !important;
}

.search-input-group input:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

.search-input-group input:hover {
  border-color: #ced4da !important;
}

.container-group-categories {
  column-count: 2;
}

@media (min-width: 768px) {
  .container-group-categories {
    column-count: 3;
  }
}


@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.autocomplete-input input, .number-input input {
    width: 100% !important;
    border-radius: 50px !important;
    padding: 10px 15px !important;
    font-size: 14px !important;
    line-height: 1px !important;
}

.p-menubar .p-menubar-custom, .p-menubar .p-menubar-end {
  margin: 0 !important;
}

.input-dropwdon .p-dropdown-label.p-placeholder {
  font-size: 14px !important;
  padding: 10px 15px !important;
}

.input-dropwdon .p-dropdown-trigger {
  color: rgb(14, 165, 233) !important;
}